html
  head
    title=title
  body
    p Showing single temp
    form(name='edit', action='/api/temps/#{temp._id}?_method=PUT', method='post', enctype='application/x-www-form-urlencoded')
      label Value
      input(type='text', value='#{temp.name}', name='name')
      label Category
      input(type='text', value='#{temp.category}', name='category')
      label Safe
      input(type='text', value='#{temp.safe}', name='safe')
      br
      input(type='submit', value='update')
                  
    a(href='../temps') Back to home
    p
