html
  head
    title=title
  body
    p Showing all temperatures
    table
      tr
        th Id
        th Value
        th Category
        th Safe?
        th UPDATE
        th DELETE
          each temp in temps
            tr
              td=temp._id 
              td=temp.name
              td=temp.category
              td=temp.safe
              td 
                form(name='delete', action='./temps/#{temp._id}', method='', enctype='application/x-www-form-urlencoded')
                  button(type='submit') Update
              td 
                form(name='delete', action='/api/temps/#{temp._id}?_method=DELETE', method='post', enctype='application/x-www-form-urlencoded')
                  button(type='submit') Delete            
    a(href='./temps/create') Create temp
    p
    a(href='temps.json') Download as JSON
    br  
    a(href='') Download as CSV
    p
    a(href='  ../../') Back to home
    
    
