html
  head
    title=title
  body
    p Showing all temperatures
    each temp, i in temps
      li
          p=temp._id
          p=temp.name
          p
            a(href='./temps/#{temp._id}') Detail
      form(name='delete', action='/api/temps/#{temp._id}?_method=DELETE', method='post', enctype='application/x-www-form-urlencoded')
        button(type='submit') Delete
          
      hr
              
    a(href='./temps/create') Create temp
    p
    a(href='../../') Back to home
    
    
